div#profileContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#profileLeftBar {
    width: 40%;
}

div#profileImageBox {
    display: flex;
    flex-direction: row;
}

img#profileImage {
    width: 200px;
    height: 200px;
}

div#profileBioDetails {
    display: flex;
    flex-direction: column;
}

div#profileMainContent {
    flex-grow: 2;
    width: 60%;
}

