html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
    min-height: 100%;
}

nav {
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav-button {
    color: black;
    text-decoration: none;
    padding: 1em;
    background: lightgray;
    border-radius: 20px;
}

.nav-button:hover {
    background: gray;
}

.main-body {
    flex-grow: 2;
    padding-bottom: 50px;
    height: 100%;
}

footer {
    text-align: right;
    font-size: 8pt;
    position: relative;
    /* margin-top: -50px; */
    /* height: 50px; */
    clear: both;
}

img.text-inline-img {
    height: 1em;
    vertical-align: middle;
}